
.mt-50 {
	margin-top: 50px;
}
.mb-50 {
	margin-bottom: 50px;
}
.card {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid rgba(0, 0, 0, .125);
	border-radius: .1875rem;
}
.card-img-actions {
	position: relative;
}
.card-body {
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	padding: 1.25rem;
	text-align: center;
}
.card-img {
	width: 350px;
}
.star {
	color: #f2dd1d;
}
.bg-cart {
	background-color: #2a41e8;
	color: #fff;
	&:hover {
		color: #fff;
	}
}
.bg-buy {
	background-color: green;
	color: #fff;
	padding-right: 29px;
	&:hover {
		color: #fff;
	}
}
a {
	text-decoration: none !important;
}
.pagination {
  
	display: flex;

    position: relative;
	a {
		color: black;
		float: left;
		padding: 8px 16px;
		text-decoration: none;
		transition: background-color .3s;
		border: 1px solid #ddd;
		font-size: 22px;
		&:hover {
			&:not(.active) {
				background-color: #ddd;
			}
		}
	}
	a.active {
		background-color: $primary-color;
		color: white;
		border: 1px solid $primary-color;
	}
}
